@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/material.css";
@import "codemirror/theme/cobalt.css";
/* 
.App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding: 0.1em; */
}

.App-link {
  color: #61dafb;
}

.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.editor {
  width: 100%;
  /* min-height: 80%; */
}

.editor-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.textarea-label {
  padding: 0.4rem;
  background: black;
  color: white;
}

.output-panel {
  flex: 1;
  resize: none;
}
.stdin {
  width: 100%;
}

.output-panel,
.stdin,
.editor {
  font-size: 1.5rem;
}

.btn-run {
  padding: 1em 2em;
  margin: auto;
  border: 1px solid cyan;
  background-color: transparent;
  color: white;
  font-size: medium;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-run:hover {
  background-color: cyan;
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  width: 100%;
  z-index: 5;
  height: 100%;
}

.overlay > p {
  margin: auto;
  font-size: xx-large;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
